project          = "finalproject-123456"
public_key_path  = "~/.ssh/vlad.pub"
private_key_path = "~/.ssh/vlad"
app_disk_image   = "search-engine-app"
ui_disk_image    = "search-engine-ui"
db_disk_image    = "search-engine-db"
